{{define "location.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "location.source" -}}
<html>
    <body>
    <div>{{template "header"}}</div>
        <h1> Welcome to Luc&#39;s Electronics - {{.name}}</h1>
        <p>Address: 
         {{ range $key, $value := .address }}
           <li><strong>{{ $key }}</strong>: {{ $value }}</li>
        {{ end }} </p>
        <p>Hours: 
          {{ range $key, $value := .hours }}
               <li><strong>{{ $key }}</strong>: {{ $value }}</li>
          {{ end }}
        </p>
    </body>
</html>
{{end}}