{{define "header"}}
<div class="header">
    <div class="header-container">
        <div class="header-links">
            <a href="/" class="header-link">Home</a>
            <a href="https://github.com/lymarrie" class="header-link">About</a>
            <a href="https://www.yext.com" class="header-link">Investor Relations</a>
            <a href="/ceo.html" class="header-link">Executive Team</a>
        </div>
    </div>
</div>

{{end}}